# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
/data/for_shiny
/data/for_scoring
/data/eckert_30x30
/data/butterfly-private
/data/BC_Parks_Big_Teams
/data/for_reporting/private
/data/polygons
data/processed/inat_bc_PRIVATEDONOTSHARE_cleanedsp_sf.shx
data/processed/inat_bc_PRIVATEDONOTSHARE_cleanedsp_sf.shp
data/processed/inat_bc_PRIVATEDONOTSHARE_cleanedsp_sf.rds
data/processed/inat_bc_PRIVATEDONOTSHARE_cleanedsp_sf.prj
data/processed/inat_bc_PRIVATEDONOTSHARE_cleanedsp_sf.dbf
data/processed/inat_bc_PRIVATEDONOTSHARE_cleanedsp.parquet
/data/isaac_prioritymaps
/outputs/report-pmtiles
/outputs/spatial-layers
